html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background: #8D83A5;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Lucida Console", serif;
}

.underline {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

header {
  background: #020202;
  border: 2px dotted #916AF0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
}

footer {
  background: #020202;
  color: #B7AAD5;
}

nav {
  position: relative;
  padding-bottom: 0px;
}

.line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: #8c8c8c;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

li {
  margin: 0 30px 0 0;
  opacity: 0.4;
  transition: all 0.4s ease;
  text-align: center;
  align-self: center;
}

:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

:first-child {
  padding-left: 0px;
  padding-right: 0px;
}

:last-child {
  padding-left: 0px;
  padding-right: 0px;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
}

#pp_img {
  border-radius: 50%;
}

.parallax-effect {
  background-image: url("../img/pres_bg.png"), url("../img/pres_bg.svg");
  min-height: 600px;
  max-height: 1540px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B7AAD5;
  border-bottom: 2px dotted #916AF0;
}

.parallax-effect2 {
  background-image: url("../img/blue_bell.png"), url("../img/pres_bg.svg");
  min-height: 600px;
  max-height: 1540px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0b0909;
  border-bottom: 2px dotted #916AF0;
}

#parallax-container {
  margin-top: -10vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  border-bottom: 2px dotted #916AF0;
}

.card {
  margin: auto;
  position: relative;
  margin-top: 20vh;
  background-color: rgba(224, 224, 223, 0.8);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 105vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 25px;
  font-size: 36px;
  text-align: center;
  font-family: "Lucida Console", Arial, serif;
}

.subcard {
  color: #0b0909;
  background-color: #B7AAD5;
  border-radius: 25px;
  width: 100%;
  height: auto;
  position: relative;
}

.subcard:hover {
  color: #0b0909;
  background-color: #916AF0;
}

#comp {
  margin-top: 120vh;
}

.ref {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.scale-up-center {
  font-size: large;
  background-color: #B7AAD5;
  color: #0b0909;
  transform: scale(0.7);
  transition: all 0.5s ease-in-out;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.scale-up-center:hover {
  font-size: medium;
  background-color: #916AF0;
  color: #0b0909;
  transform: scale(1);
  border-radius: 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 2px dotted #B7AAD5;
}

/**
* ----------------------------------------
* animation scale-up-center
* ----------------------------------------
*/
@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=styles.css.map */